<table class="table col-xs-12" ng-show="foundItemsCtrl.foundMenuItems.length > 0">
	<thead>
		<tr>
			<th>Name</th>
			<th>Short Name</th>
			<th>Description</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in foundItemsCtrl.foundMenuItems">
			<td>{{ item.name }}</td>
			<td>{{ item.short_name }}</td>
			<td>{{ item.description }}</td>
			<td><button class="btn btn-danger" ng-click="foundItemsCtrl.onRemove({index: $index})">Don't want this one!</button></td>
		</tr>
	</tbody>
</table>
<div class="text-danger col-xs-12" ng-show="foundItemsCtrl.foundMenuItems.length === 0"><strong>Nothing Found!</strong></div>
